body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f6d365, #fda085);
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #d42baa;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.number-box {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #4a90e2;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;           
  justify-content: center; 
  align-items: center;     

  min-width: 150px;
  height: 80px;            
  text-align: center;      
  line-height: 1;          
}



button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab8;
}